site_name: Aldovale AI Docs
site_url: https://yourdomain-or-github-pages-url
repo_url: https://github.com/yourusername/aldovale-ai-mvp
theme:
  name: material
  features:
    - navigation.instant
    - navigation.tracking
    - search.highlight
    - content.code.copy
    - toc.integrate
  palette:
    - scheme: slate
      primary: indigo
      accent: teal
plugins:
  - search
  - awesome-pages
  - git-revision-date-localized:
      fallback_to_build_date: true
  - minify:
      minify_html: true
  - include-markdown
markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true
  - tables
nav:
  - Home: index.md
  - API Reference: api.md
  - Architecture: architecture.md
  - Deployment: deployment.md
  - DevOps: devops.md
