amqp==5.3.1
asgiref==3.10.0
attrs==25.4.0
billiard==4.2.2
black==25.9.0
celery==5.5.3
certifi==2025.10.5
cfgv==3.4.0
charset-normalizer==3.4.4
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
decorator==5.2.1
distlib==0.4.0
dj-database-url==3.0.1
Django==5.2.7
django-stubs==5.2.7
django-stubs-ext==5.2.7
djangorestframework==3.16.1
djangorestframework-stubs==3.16.5
djangorestframework_simplejwt==5.5.1
filelock==3.20.0
gunicorn==23.0.0
identify==2.6.15
idna==3.11
iniconfig==2.3.0
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kombu==5.5.4
MarkupSafe==3.0.3
mypy==1.18.2
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.0
pluggy==1.6.0
pre_commit==4.3.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.11
Pygments==2.19.2
PyJWT==2.10.1
PyMySQL==1.1.2
pytest==8.4.2
pytest-django==4.11.1
pytest-mypy-plugins==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytokens==0.2.0
PyYAML==6.0.3
redis==5.2.1
referencing==0.37.0
regex==2025.10.23
requests==2.32.5
rpds-py==0.28.0
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
tomlkit==0.13.3
types-PyMySQL==1.1.0.20250916
types-PyYAML==6.0.12.20250915
types-requests==2.32.4.20250913
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
vine==5.1.0
virtualenv==20.35.4
wcwidth==0.2.14
wheel==0.45.1
